{% extends './base.html' %}
{% block title %}My amazing blog{% endblock %}
{% block content %}
    <h2>this is base_body</h2>
    <p id="body-paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic quia ea ipsum quaerat et debitis dolores omnis a obcaecati doloribus, reprehenderit neque pariatur blanditiis beatae! Sunt totam eaque ipsam saepe impedit neque voluptas corrupti, doloribus, assumenda maxime perferendis sequi officia illo aspernatur amet velit iste consectetur. Consequatur molestias voluptatum, quia suscipit eaque atque autem quaerat soluta ab debitis iste ducimus facere? Laudantium totam fugit illo dolorum nostrum, perspiciatis, suscipit deleniti ex in, numquam assumenda exercitationem reiciendis fuga! Atque facere veritatis.</p>
    
{% endblock %}